<footer class="footer">
  <small>
    高校食堂餐饮管理系统 由 华东师范大学 张晨舞 设计实现
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
